.search_wrap {
  margin-bottom: 10px;
}

.item_list td:first-child,
.item_list td:nth-child(2) {
  width: 3%;
}

.item_list td:nth-child(3),
.item_list td:nth-child(5),
.item_list td:nth-child(7) {
  width: 6%;
}

.item_list td:nth-child(4) {
  width: 12%;
}

.item_list td:nth-child(6),
.item_list td:nth-child(8),
.item_list td:nth-child(9) {
  width: 5%;
}

.item_list td:nth-child(10),
.item_list td:nth-child(11),
.item_list td:nth-child(12) {
  width: 8%;
}


/* ========================================  */

.table .item_name {
  font-weight: bold;
  cursor: pointer;
}

.table .item_name:hover {
  text-decoration: underline;
}

.table.item_update {
  width: 50%;
}

.item_update th {
  width: 15%;
}

.item_update td {
  width: 20%;
  text-align: left;
  padding: 5px;
}

.item_update tr img {
	width: 150px;
}

.etc_img_desc {
	display: block;
	margin: 10px;
	font-size: 14px;
}

.pagination_wrap {
  display: flex;
  justify-content: center;
}

.pagination_wrap span {
  cursor: pointer;
  display: inline-block;
  background-color: #fff;
  margin: 10px;
  text-align: center;
}

.normalPage {
  color: #cdcdcd;
}

.currentPage {
  font-weight: bold;
  color: #ffa900;
}


.item_btn * {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgba(128, 128, 128, 0.211);
  cursor: pointer;
  font-size: 15px;
  margin-right: 10px;
}

.delete_btn {
  color: crimson;
}

.item_btn input:hover,
.item_btn span:hover {
  font-weight: bold;
}
