.search_wrap {
	margin-bottom: 10px;
}

.item_table {
	border-collapse: collapse;
	border: 2px solid #ffa900;
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 15px;
}

.item_table th {
	background-color: #fff8d0;
	border: 1px solid #ffa900;
}

.item_table td {
	border: 1px solid #ffa900;
}

.pagination_wrap {
	display: flex;
	justify-content: center;
}

.pagination_wrap span {
	cursor:pointer;
	display: inline-block;
	background-color: #fff;
	margin: 10px;
	text-align: center;
}

.normalPage {
	color: #cdcdcd;
}

.currentPage {
   font-weight: bold;
   color:  #ffa900;;
 }