/* main {
    width: 100%;
    min-width: 1200px;
    max-width: 1500px;
    margin: 50px 0 115px auto;
} */

#board h1 {
    text-align: center;
    margin: 30px;
}


#board table {
    width: 100%;
    min-width: 1200px;
    max-width: 1500px;
    height: auto;
    background-color: #fff;
    border-top: 2px solid #ffa900;
    ;
    border-bottom: 2px solid #ffa900;
    /* margin: 50px 0 80px auto; */

    border-collapse: collapse;
}

/* #board th, */
#board td {
    padding: 11px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
    /*white-space: nowrap; /* 값이 고정되도록 */
    white-space: normal;
    overflow: hidden;
    /* 값이 고정되도록 */
    text-overflow: ellipsis;
    /* 값이 고정되도록 */
}

#board th {
    padding: 7px;
    background-color: #f2f2f2;
    border-bottom: 2px solid #ffa900;
}

/* n 번째 td 행의 길이를 60%로 조정 */
#board td:nth-child(4) {
    width: 50%;
    text-align: left;
    /* 왼쪽 정렬 추가 */
}


/* #board tr:hover {
    background-color: #f5f5f5;
} */

#board input[type="submit"] {
    padding: 10px 20px;
    border: 1px solid #ffa900;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ffa900;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    color: black;
}

#board input[type="submit"]:hover {
    transition: .5s;
    background-color: #ffe344;
}

#board form {
    display: flex;
    justify-content: right;
}

#board form input[type="submit"] {
    height: 30%;
    align-self: center;
}

#board .button {
    display: flex;
    width: 100%;
    justify-content: right;
    margin-bottom: 20px;
}


#board .answer span {
    text-align: left;
    display: block;
    padding: 10px 8px;
    white-space: normal;
}

/* #board .question_1:hover+.answer {
    display: table-row;
} */

#board .box_wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

#board .box_wrap .box_a {
    font-size: 15px;
    font-weight: bold;
    line-height: 50px;

    width: 150px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid;
    border-color: #ffa900;
    display: inline-block;
}


/* #board .checking_box {
    background-color: #ffe344;
} */

#board .box_a:hover {
    transition: .5s;
    background-color: #ffe344;
}

#board input[type="search"] {
    float: right;
    width: 200px;
    height: 30px;
    margin: 20px;
    text-align: left;
    text-indent: 10px;
}

#board .page_shift {
    text-align: center;
    margin-top: 20px;
}