/* ===== 상단 카테고리, 정렬 영역 시작 ===== */
.event_container * {
  text-align: center;
}

.title {
  margin: 50px 0;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.title a {
  margin: 0 30px;
  padding: 3px;
}

.title .active {
  border-bottom: 5px solid #ffa900;
}

.title a:hover {
  border-bottom: 5px solid #ffa900;
}

.event_type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin: 0 auto;
  width: 80%;
  line-height: 70px;
  border-radius: 10px;
  background-color: rgba(8, 69, 139);
}

.event_type li:hover {
  background-color: rgba(9, 79, 160, 0.76);
  border-radius: 10px;
}

.event_type li {
  background-color: rgba(8, 69, 139);
  border-radius: 10px;

  color: white;
  font-size: 1.3em;
  cursor: pointer;
}

.event_content ul {
  display: grid;
  grid-template-rows: 1fr;
  margin-bottom: 50px;
}

.event_content li {
  justify-self: center;
  width: 1200px;
  margin-top: 50px;
  position: relative;
  cursor: pointer;
}

.event_content li p {
  width: 100%;
  font-size: 1.5em;
  position: absolute;
  top: 170px;
  font-weight: bold;
  color: white;
}

.event_content li .opacity_box {
  width: 1200px;
  height: 346px;
  border-radius: 10px;
  background-color: rgba(24, 24, 24, 0.8);
  position: absolute;
}

.event_content li img {
  border-radius: 10px;
}
