.mypageWrap {
  width: 100%;
  /* height: 500px; */
  /* border-top: 2px solid #ffa900;
    border-bottom: 2px solid #ffa900; */
  /* background-color: #fff; */
  margin-bottom: 50px;
}

.mypageWrap .title {
  /* line-height: 20px; */
  margin-bottom: 40px;
}

.mypageWrap .mypageHeader {
  width: 100%;
  height: 200px;
  background-color: #fff8d0;
  border: #ffa900 2px solid;
  margin-bottom: 20px;
  border-radius: 8px;
}

.mypageWrap .mypageHeader ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mypageWrap .mypageHeader ul > li {
  width: 25%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.mypageWrap .mypageHeader ul > li p {
  color: #ffa900;
  font-weight: bold;
  line-height: 30px;
  font-size: 18px;
}

.mypageWrap .mypageHeader ul > li img {
  width: 50px;
  height: 50px;
  margin: 20px 0;
}

.mypageWrap .mypageContainer {
  width: 100%;
}

.mypageWrap .mypageContainer h2 {
  width: 100%;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 50px;
}

.mypageWrap .mypageContainer ul {
  border-bottom: 2px solid #ffa900;
  border-top: 2px solid #ffa900;
  background-color: #fff;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
}

.mypageWrap .mypageContainer ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ddd;
  padding: 20px 30px;
  width: 25%;
}

.mypageWrap .mypageContainer ul > li:last-child {
  border-right: 0px;
}

.mypageWrap .mypageContainer ul > li .num,
.mypageWrap .mypageContainer ul > li .point {
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  color: #cdcdcd;
}

.mypageWrap .mypageContainer ul > li .point {
  color: #000;
}

.mypageWrap .mypageContainer ul > li p {
  font-weight: bold;
}

.mypageWrap .mypageBtn {
  width: 100%;
  padding: 10px;
  margin-top: 50px;
}

.mypageBtn ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mypageWrap .mypageBtn ul > li {
  flex: 0 0 25%;
  margin: 10px 30px;
  padding: 30px;
  border: 2px solid #ffa900;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 20px;
}

.mypageWrap .mypageBtn ul > li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mypageWrap .mypageBtn ul > li:hover {
  cursor: pointer;
  background-color: #fff8d0;
  text-decoration: underline;
}

.mypageWrap .mypageBtn ul > li img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
