@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#wrap {
  width: 100%;
  min-width: 1200px;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000;
  outline: none;
}

body {
  font-family: "Cafe24SsurroundAir", sans-serif;
  background-color: #fffbee;
}

input[type="button"] {
  font-family: "Cafe24SsurroundAir";
}

/* ===== 페이지 이동 ===== */

.page_shift {
  padding: 50px;
  cursor: pointer;
}

.page_shift span {
  box-sizing: border-box;
  display: inline-block;
  width: 30px;
  line-height: 28px;

  font-size: 1.2em;
  border: #ffa900 1px solid;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
  margin: 0 5px;
  padding-top: 3px;
}

.page_shift span:hover {
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.5);
  background-color: #ffe344;
  transition: 0.5s ease-in-out;
}

.clicked_page {
  background-color: #ffe344;
}

/*========================================================================*/
/*header*/

header {
  margin-bottom: 50px;
}

header nav {
  margin-top: 15px;
  width: 100%;
  margin-bottom: 20px;
}

/* 메뉴 리스트 */
.menu_list {
  list-style: none;
  margin: 0;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.menu_list input[type="search"] {
  border: none;
  border-color: #ffe344;
  width: 350px;
  height: 32px;
  text-indent: 10px;
  border-bottom: 2px solid #ffa900;

  justify-self: center;
  align-self: center;
}

.menu_list a,
.menu_list a img {
  width: 210px;
  height: 50px;
}

.menu_list ul {
  margin-top: 50px;
  justify-self: end;
  white-space: nowrap;
}

.menu_list ul > li {
  display: inline-block;
  margin-right: 20px;
}

.menu_list ul > li a {
  font-size: 0.9em;
  font-weight: bold;
}

.menu_list ul > li a img {
  width: 18px;
  height: 18px;
  margin: 2px 3px;
  vertical-align: middle;
}

.menu_list ul > li a:hover {
  text-decoration: underline;
}

/* gnb 리스트 */
.gnb_list {
  width: 100%;
  height: 70px;
  list-style-type: none;
  background-color: #ffe344;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.gnb_list > li {
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.gnb_list > li {
  color: #333;
  font-weight: bold;
}

.gnb_list > li img {
  vertical-align: middle;
  width: 35px;
  margin-bottom: 5px;
}

.gnb_list > li:hover {
  font-size: 1.1em;
}

/* ===== footer 시작 ====== */
footer .footer_wrap {
  padding: 80px 15px 40px;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 2px solid #bbb;
}

footer .ft_info1,
footer .ft_info2,
footer .ft_copy {
  justify-self: center;
  align-self: center;
}

footer p {
  white-space: pre-line;
}

/* ===== footer info 1 시작 ===== */

.ft_info1 h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.ft_info1 span,
.ft_info1 p {
  color: rgb(95, 95, 95);
  margin: 5px;
}

.ft_info1 p {
  margin: 20px auto;
  line-height: 1.5em;
}

.ft_info1 span {
  font-weight: bold;
}

/* ft copy 영역 시작 */
.ft_copy {
  text-align: center;
  align-self: self-end;
  margin-top: 6.7em;
}

.ft_copy img {
  width: 210px;
}

/* ===== footer info 2 시작 ===== */

.ft_info2 p {
  text-align: center;
  color: rgb(95, 95, 95);
  font-size: 0.8em;
  line-height: 20px;
}

.ft_info2 ul {
  margin: 40px auto;
}

.ft_info2 ul li {
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
}

/* ===== footer 끝 ===== */
