.findPw {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    margin: 50px auto;
    background-color: #fff;
    height: 650px;
    border-top: 2px solid #ffa900;
    border-bottom: 2px solid #ffa900;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.findPw .img_container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findPw .img_container img {
    width: 750px;
    height: 641px;
    box-sizing: border-box;
}

.findPw .findPw_container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findPw .findPw_container .findPw_box {
    border-radius: 5px;
    line-height: 30px;
}

.findPw .findPw_container .findPw_box h2 {
    text-align: center;
    margin-bottom: 30px;
}


.findPw .findPw_container .findPw_box input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #b0a1a1;
}

.findPw .findPw_container .findPw_box input[type="submit"] {
    border: 1px solid #ffa900;
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
}

.findPw .findPw_container .findPw_box input[type="submit"]:hover {
    transition: .5s;
    background-color: #ffe344;
}