.code_table {
  text-align: center;
  border-collapse: collapse;
  border: 2px solid #ffa900;
  background-color: #fff;
}

.code_table th,
.code_table td {
  border-radius: 5px;
  padding: 5px;
}

.code_table th {
  background-color: #fff8d0;
}

.code_table td {
  border: 1px solid #ffa900;
}

.add {
  background-color: #ffc256;
  cursor: pointer;
  font-size: 0.8em;
  border-radius: 5px;
  padding: 3px;
  font-weight: bold;
}

.add:hover {
  background-color: #ffa900;
}
