/* common */
.fs14 {
    font-size: 14px;
}

.text_white {
    color: white;
}

.text_center {
    text-align: center;
}

.d_none {
    display: none;
}

.d_flex {
    display: flex;
}

/* layout */

.title {
    color: black;
}

.title {
    color: #ffa900;
    margin: 1em;
}

.main {
    max-width: 1500px;
    min-width: 1200px;
    margin: 50px auto;
    padding: 3em;
    border-top: 2px solid #ffa900;
    border-bottom: 2px solid #ffa900;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.address_input th {
    width: 150px;
    margin: 0 auto;
}

.address_input input[type="text"],
.address_input input[type="email"],
.address_input select[id="payment"],
.address_input input[type="number"] {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 10px;

}

.address_input input[type="tel"] {
    width: 27%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
}

.button input[type="submit"],
.button input[type="button"] {
    padding: 10px 20px;
    border: 1px solid #ffa900;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ffa900;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    height: 40px;
}

.button input[type="button"] {
    margin-right: 1em;
}

.button input[type="submit"]:hover,
.button input[type="button"]:hover {
    transition: .5s;
    background-color: #ffe344;
}

.button {
    display: flex;
    width: 100%;
    justify-content: right;
}

/*====================================================================== 배송지정보 ====================================================================== */

.address_input table,
.desc table {
    margin-bottom: 40px;
    width: 100%;
    margin-bottom: 20px;
}

.address_input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr .5fr; */
    grid-template-areas: "a b";
}

.address_input {
    width: 100%;
    grid-area: a;
}

.img_area {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: b;
    /* background: url(https://i.pinimg.com/564x/3e/69/a2/3e69a233987b3b5b7bc27f47dd0a2267.jpg) 0/100% 100%; */
}

/*====================================================================== 주문상품 ====================================================================== */
/*thead*/
.main table thead {
    height: 50px;
    line-height: 46px;
    width: 100%;
    display: block;
    border-bottom: 2px solid #ffa900;
}

.main table thead tr {
    display: flex;
}

.main table thead tr th,
.main table tbody tr td {
    width: 25%;
}

/*tbody*/

.main table tbody {
    display: block;
    width: 100%;
    height: auto;

}

.main table tbody tr {
    display: block;
    border-bottom: 1px solid #c8c8c8;
}

.main table tbody tr:last-child {
    border: none;
}

.main table tbody tr td {
    width: 1%;
    line-height: 100px;
    text-align: center;
}

.main table tbody tr td img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}


.main table tbody tr td:nth-child(3) {
    line-height: 40px;
}

.sale_info {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

.normal_pr {
    color: gray;
    text-decoration: line-through;
}

.present_pr,
.total span:first-child,
.quantity {
    font-weight: bold;
}

/*====================================================================== 약관동의 ====================================================================== */

.checkbox_wrapper input[type=checkbox] {
    margin-top: 12px;
    margin-right: 10px;
}

form section .content p {
    width: 100%;
    height: 120px;
    overflow: auto;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #929292;
    border-radius: 5px;
}

.content p::-webkit-scrollbar,
.checkbox_wrapper::-webkit-scrollbar {
    width: 6px;
}

.content p::-webkit-scrollbar-thumb,
.checkbox_wrapper::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
}

.content p::-webkit-scrollbar-track,
.checkbox_wrapper::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 8px;
}